
/pythonProject/.idea
/pythonProject/algoDist/__pycache__
/pythonProject/algoDist/Lib/site-packages
pythonProject/algoDist/pyvenv.cfg
/pythonProject/algoDist/Scripts
pythonProject/algoDist/exemple_moodle.py
pythonProject/algoDist/exemple_moodle.py
/pythonProject
